@charset "utf-8";

/*--------------------------------------------------------
* Filename: styles.css
* Description: General styles for Weather Forecast

* Author: R. Brian Redd 
--------------------------------------------------------*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.hidden {
    display: none;
}

#zipcode {
    width: 100px;
}

#city {
    width: 150px;
}

.city span {
    font-style: italic;
}

#errors {
    color: #FF0000;
}

h5 {
    cursor: pointer;
}

.weather_icons,
.wind_direction {
    padding-left: 50px;
    white-space: nowrap;
}

.wind_direction div {
    display: inline-block;
    vertical-align: top;
}

.wind_direction div span {
    font-size: 0.7em;
}

.wind_direction div:nth-child(even) span {
    display: none;
}

.tick line {
    stroke: #CCCCCC;
}

svg.days .tick line {
    stroke: #000000;
}

.dataText {
    font-size: 0.9em;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3), 1px -1px 0 rgba(255, 255, 255, 0.3), -1px 1px 0 rgba(255, 255, 255, 0.3), -1px -1px 0 rgba(255, 255, 255, 0.3), 1px 0px 0 rgba(255, 255, 255, 0.3), 0px 1px 0 rgba(255, 255, 255, 0.3), -1px 0px 0 rgba(255, 255, 255, 0.3), 0px -1px 0 rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 768px) {
    .wind_direction div:nth-child(even) span {
        display: inline-block;
    }
}