@charset "utf-8";

/*--------------------------------------------------------
* Filename: styles.css
* Description: General styles for Weather Forecast

* Author: R. Brian Redd 
--------------------------------------------------------*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

#zipcode {
    width: 100px;
}

#city {
    width: 150px;
}


/*#weatherChart {
    border: 1px solid black;
    height: 500px;
    overflow: auto;
}*/

#errors {
    color: #FF0000;
}

.city span {
    font-style: italic;
}

.tick line {
    stroke: #CCCCCC;
}

svg.days .tick line {
    stroke: #000000;
}